<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="ahmed.umar@kogentindia.com">
        <network host="smtp.gmail.com" port="465" password="sendmail@123" userName="sendmail@dreamtechpress.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
